[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OBD Scan Tool
Comment=OBD Scan Tool
Icon=selinux.svg
Categories=System;
Exec=scantool
Terminal=false
GenericName=OBD Scan Tool